/* Color palette obtained from coolors.co
https://coolors.co/320a28-511730-8e443d-cb9173-e0d68a
https://coolors.co/c2f970-44344f-564d80-98a6d4-d3fcd5
*/

:root {
    --link_hover: #e25f3e;
    --mid_color: #902626;
    --text_color: #4d0606;
    --bg_color: #7b57fa;
    --alt_bg_color: #9b81f8;
    --special_border: #846ed4;
    --border_color: indigo;
    --navbar_text_color: #EEEEEE;
    --navbar_link_active: indigo;
} 

[data-theme="dark"] {
    --link_hover: #e25f3e;
    --text_color: #dddddd;
    --bg_color: #212121;
    --alt_bg_color: #404040;
    --special_border: #846ed4;
    --border_color: #000000;
    --navbar_text_color: #dddddd;
    --navbar_link_active: #846ed4;
}

body,html {
    /* Use flex layout to push footer to bottom of page */
    padding: 0;
    margin: 0;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-grow: 1;

    color: var(--text_color);
    background-color: var(--bg_color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-heading {
    border: 10px solid var(--border_color);
    border-left: 0px;
    border-right: 0px;
    margin: 0;
    padding: 10px;
}

header {
    background-color: var(--alt_bg_color);
    padding: 15px;
    margin: 0px;
}

/* Ensure main pushes footer to bottom of page */
main {
    flex-grow: 1;
}

footer {
    text-align: center;
    /*padding: 10px; */
    background-color: var(--alt_bg_color);
    border: 10px solid var(--border_color);
    border-left: 0px;
    border-right: 0px;
}

/* color links */
a {
    color: var(--text_color);
}

a:hover {
    color: var(--link_hover);
}

#copyright {
    color: var(--text_color);
    font-size: 80%;
}

.navbar-brand {
    background-color: var(--alt_bg_color);
    color: var(--navbar_text_color);
    padding: 5px;
}

.nav-item {
    background-color: var(--alt_bg_color);
    color: var(--navbar_text_color);
}

.nav-link {
    color: var(--navbar_text_color);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--navbar_link_active);
}


.main-content-box {
    background-color: var(--alt_bg_color);
    border: 10px var(--border_color);
    border-style: inset;
    margin: 20px 0px;
    padding: 10px;
}

#jp-word-container {
    border: 5px solid var(--special_border);
    margin: 5% 10%;
    padding: 10%;
}

#jp-word-para {
    font-size: 3em;
}

#jp-word-para a {
    text-decoration: none;
}

#answer-result {
    font-size: 1.5em;
    margin: 10px;
    border: 2px solid black;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#jp-word-meaning, #jp-conjugation-type, #conjugate-header {
    font-size: 2em;
}

input[type="checkbox"] {
    margin: 3px;
}

.examples-container p:first-of-type {
    font-size: 1.3em;
}

.examples-container section {
    margin: 20px;
}

.error_msg {
    border: 2px solid black;
    color: #4d0606;
    background-color: white;
    text-align: center;
}

.hidden {
    display: none;
}

.margined {
    margin: 20px;
}

.navbar {
    color: #FFFF00;
}

.lightmode {
    background-color: var(--alt_bg_color);;
    color: black;
}

.darkmode {
    background-color: black;
    color: white;
}